<div class="landing_page_main_container" style="overflow-x: hidden; overflow-y: auto;">
  <div class="vspace"></div>
  <div class="vspace"></div>

  <!-- Main Header -->
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
      <div class="vspace"></div>
      <div class="vspace"></div>
      <span class="corecon-menu-logo">
        <img class="img-responsive" src="../../../assets/images/logo-l.png">
      </span>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
      <span class="header-logo-text">Corecon External API Client</span>
      <div><span>(Resource Owner Credentials:)</span></div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
      <a href="../../../help.html" target="_blank">
        <i title="Knowledge Base" class="global-help-icon"></i>
      </a>&nbsp;      
    </div>
  </div>


  <div class="landing_page_sub_container_in_percentage">

    <div class="vspace"></div>
    <div class="vspace"></div>
    <div>
      <div class="row">        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <input type="button" value="Project Financials" (click)="ProjectFinancialsClick()" class="primaryButton_icon" /> &nbsp;
        </div>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <input type="button" value="Equipment Time" (click)="EquipmentTimeClick()" class="primaryButton_icon" /> &nbsp;
        </div>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <input type="button" value="Labor Time" (click)="LaborTimeClick()" class="primaryButton_icon" /> &nbsp;
        </div>
        <div class="vspace"></div>
        <div class="vspace"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <input type="button" value="Employee Misc Expenses" (click)="EmployeeMiscExpensesClick()" class="primaryButton_icon" /> &nbsp;
        </div>
      </div>
      <div class="vspace"></div>
      <div class="vspace"></div>
    </div>    

    <div class="vspace"></div>
    <div class="vspace"></div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <input type="button" value="Back to Home" (click)="goToHome()" class="primaryButton_icon" />
      </div>
    </div>
  </div>
</div>
