<div class="loginContainer" style="overflow-x: hidden; overflow-y: auto;">

  <div class="vspace"></div>
  <!-- Main Header -->
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
      <div class="vspace"></div>
      <div class="vspace"></div>
      <span class="corecon-menu-logo">
        <img class="img-responsive" src="../../../assets/images/logo-l.png">
      </span>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
      <span class="header-logo-text">Corecon External API Client</span>
      <div><span>(Resource Owner Credentials:)</span></div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">

      <a href="../../../help.html" target="_blank">
        <i title="Knowledge Base" class="global-help-icon"></i>
      </a>
      &nbsp;      
    </div>
  </div>
  <div class="login-wrapper">
    <form id="form1" [formGroup]="form">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left required">
          {{"Date:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="Date" type="text"
                 #date placeholder="DD-MM-YYYY" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left required">
          {{"Employee Name:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="EmployeeName" type="text" #employeeName placeholder="Employee Name" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left required">
          {{"Project Number:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="ProjectNumber" type="text" #projectNumber placeholder="Project Number" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left required">
          {{"Prime Contract Number:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="PrimeContractNumber" type="text" #primeContractNumber placeholder="Prime Contract Number" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left">
          {{"Change Order Number:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="ChangeOrderNumber" type="text" #ChangeOrderNumber placeholder="Change Order Number" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left">
          {{"Labor Code:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="LaborCode" type="text" #laborCode placeholder="Labor Code" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left required">
          {{"Payroll Code:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="PayrollCode" type="text" #payrollCode placeholder="Payroll Code" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left required">
          {{"Cost Code:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="CostCode" type="text" #CostCode placeholder="Cost Code" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left">
          {{"WCCode:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="WCCode" type="text" #wCCode placeholder="WCCode" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 text-left required">
          {{"Hours:"}}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <input class="form-control" formControlName="Hours" type="text" #hours placeholder="Hours" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
      <div class="vspace"></div>
      <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6"></div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 text-right">
          <input type="button" value="Verify Data" (click)="JsonTimeData($event)"
                 [disabled]="form.invalid" class="primaryButton_icon text-right" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
      <div class="vspace"></div>
    </form>
    <div *ngIf="jsonData" class="responsedv">
      <span id="errmsg">{{jsonData}}</span>
    </div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <div *ngIf="jsonData" class="row">
      <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6"></div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 text-right">
        <input type="button" value="Submit" (click)="PostTimeData('Add')" class="primaryButton_icon" /> &nbsp;
      </div>
    </div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <div *ngIf="errorMsg" class="responsedv" style="background-color: #f5bfbf;">
      <span id="errmsg">Error: {{errorMsg}}</span>
    </div>
    <div *ngIf="responseResult" class="responsedv" style="background-color: #b7f5a8;">
      <span id="responseResult">API Response: {{responseResult}}</span>
    </div>
    <div class="vspace"></div>
    <div class="vspace"></div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding_none">
        <input type="button" value="Back to Home" (click)="goToHome()" class="primaryButton_icon" />
      </div>
    </div>
  </div>
</div>
